
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.gallery {
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  max-width: 1128px;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 200px;
  transition: scale 0.25s ease-in-out;
  position: relative;
}

.gallery-link {
  display: block;
  height: 100%;
}

.gallery-item:hover {
  scale: 1.04;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basicLightbox__placeholder {
  background-color: rgba(46, 47, 66, 0.8);
  z-index: 999;
}

.basicLightbox__placeholder img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

@media (max-width: 900px) {
  .gallery-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 600px) {
  .gallery-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* ======================================    form styles */

.feedback-form {
  box-sizing: border-box;
  gap: 8px;
  border-radius: 8px;
  width: 408px;
  margin: 200px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

input, textarea {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  transition: border-color 250ms ease-in-out;
  outline: none;
}

input:hover, textarea:hover, input:focus,
textarea:focus {
  border-color: #000;
}

input:focus-visible,
textarea:focus-visible {
  border-color:#808080;
}

textarea {
  box-sizing: border-box;
  height: 80px;
  resize: none;
  margin-bottom: 16px;
  padding: 10px 16px;
}

button {
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: background-color 250ms ease-in-out;
}

button:hover, button:focus {
  background-color: #6c8cff;
}
